* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: '맑은고딕', Helvetica;
    font-size: 1.5rem;
    background-color: #F9F5EB;
}

li {
    list-style: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    color: #F9F5EB;
    background-color: #607EAA;
}

header > ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 65%;
    height: 5rem;
    line-height: 5rem;
    opacity: 1;
    visibility: visible;
    /* background-color: aqua; */
}

header > ul > li {
    margin: 0 auto;
    width: fit-content;
    opacity: 1;
    visibility: visible;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    /* background-color: salmon; */
}

header > ul > li:hover {
    color: white;
    transition: 1.5s;
}

header > div {
    width: 100%;
    height: 0.5rem;
    background-color: lavender;
}

header > div > div {
    width: 0;
    height: 100%;
    background-color: lightseagreen;
}

.closeMenu {
    display: none;
}

main {
    position: relative;
}

main > div {
    margin: 0 auto;
    width: 65%;
    height: 100%;
    /* background-color: lightskyblue; */
}

main > div > p {
    margin: 2rem 0 2rem 0;
    padding: 3rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    border-radius: 3rem 0 3rem 0;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.3rem #EAE3D2;
    background-color: lightseagreen;
}

#searchDiv {
    display: flex;
    gap: 2%;
    padding: 2rem 0 2rem 0;
    text-align: center;
    /* background-color: aqua; */
}

#searchDiv > input {
    padding: 0 2rem 0 2rem;
    width: 90%;
    height: 4rem;
    border-style: none;
}

#searchDiv > input, article > div {
    border-radius: 3rem;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.3rem #EAE3D2;
}

#searchDiv > button {
    width: 8%;
    height: 4rem;
    border-radius: 3rem;
    border-style: none;
    font-weight: bold;
    color: #F9F5EB;
    background-color: #607EAA;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.3rem #EAE3D2;
    cursor: pointer;
}

#mobileMenu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 1.5rem;
    opacity: 0.8;
    text-align: center;
    border-radius: 0 2rem 2rem 0;
    background-color: lightgray;
    cursor: pointer;
}

#mobileMenu > ul {
    width: 3rem;
}

#mobileMenu > ul > li {
    margin-bottom: 0.7rem;
    width: 100%;
    height: 0.4rem;
    background-color: white;
}

#mobileMenu > ul > li:last-child {
    margin-bottom: 0;
}

button > img {
    margin-top: 0.3rem;
    width: 1.8rem;
}

main > div > article {
    height: 100%;
    /* background-color: lightcyan; */
}

article > div {
    margin-bottom: 2rem;
    background-color: white;
}

article:not(#weather) > div > div {
    margin: 0 3rem 0 3rem;
    border-bottom: 0.1rem dashed lightgray;
}

article:not(#weather) > div > div:last-child {
    border-style: none;
}

#weather > div {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 1.5rem;
}

.weatherDiv {
    color: #607EAA;
}

.weatherDiv:first-child {
    text-align: center;
    font-size: 1.7rem;
}

.weatherDiv:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 4rem 1rem 4rem;
    line-height: 3rem;
    border-radius: 1.5rem;
    color: white;
    background-color: #607EAA;
}

#news > div {
    display: flex;
}

#news > div > a {
    padding: 1.5rem 0 1.5rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    color: #607EAA;
}

#news > div > a:hover {
    color: lavender;
    transition: 0.5s;
}

#news > div > a > span {
    margin-right: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3rem;
    font-size: 1.3rem;
    font-weight: normal;
    color: white;
    background-color: #607EAA;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    background-color: darkgray;
}

footer > p {
    line-height: 3rem;
    font-weight: bold;
    color: white;
}

#top {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 10;
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    background-color: lightseagreen;
    cursor: pointer;
}


@media screen and (max-width: 50rem) {
    header > ul, main > div {
        width: 90%;
    }

    #mobileMenu {
        position: fixed;
        top: 1.5rem;
        display: block;
    }

    header > ul {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        width: 0;
        height: 100vh;
        opacity: 0;
        transition: 0.5s;
        visibility: hidden;
        background-color: #607EAA;
    }

    header > ul > li:not(li:first-child):hover {
        color: lightseagreen;
    }

    .closeMenu {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 5rem;
        font-size: 5rem;
        background-color: lightpink;
    }

    .closeMenu:hover {
        background-color: red;
    }


    #weather > div {
        flex-wrap: wrap;
        gap: 0;
    }

    .weatherDiv:last-child {
        margin-top: 2rem;
        padding: 1rem;
        width: 100%;
        text-align: center;
        color: white;
        background-color: #607EAA;
    }

    main > div > p {
        font-size: 1.8rem;
    }

    main > div > div > input {
        width: 78%;
    }

    main > div > div > button {
        width: 20%;
    }

    article > div > div {
        margin: 0 1.5rem 0 1.5rem;
    }

    #news > div > a > span {
        margin-right: 0.5rem;
        font-size: 1.1rem;
    }

    #news > div > a {
        font-size: 1.4rem;
    }
}