html {
    font-size: 10px
}

body {
    font-size: 2rem
}

#calculator {
    margin: 3rem;
    padding: 1rem;
    width: 30rem;
    height: fit-content;
    border-radius: 3rem;
}

#calculator > div {
    margin: 0 auto;
}

#calculator > div > input {
    margin: 1rem 1rem 0 1.4rem;
    padding-left: 1.5rem;
    width: 85%;
    height: 5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: gray;
    border-style: none;
    border-radius: 3rem;
}

.num-btn > div {
    display: flex;
    margin: 2rem;
}

.num-btn > div:first-child > button, .num-btn > div:last-child > button:first-child {
    width: 11.5rem;
    border-radius: 10rem;
}

button {
    margin: 0 auto;
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    transition: transform 0.3s ease;
    border-style: none;
    border-radius: 50%;
}

button:hover {
    transform: translate(0.3rem, 0.3rem);
}

.oper:not(.num-btn > div:first-child > button:last-child) {
    font-size: 3rem;
    color: gray;
}

#calculator, input, button {
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem lightgray;
    background-color: white;
}