* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    background-color: lavender;
}

.bugger {
    position: relative;
    z-index: 1;
    margin: 3rem;
    width: 3rem;
    height: 2.5rem;
    /* border: 1px solid black; */
    cursor: pointer;
}

.bugger div {
    position: absolute;
    width: 100%;
    height: 0.5rem;
    background-color: white;
}

.bugger div:first-child {
    top: 0;
    transition: .4s;
}

.bugger div:nth-child(2) {
    top: 1rem;
}

.bugger div:last-child {
    top: 2rem;
    transition: .4s;
}

.bugger.active div:first-child {
    transform: rotate(45deg) translate(1.2rem, 1.2rem);
}

.bugger.active div:nth-child(2) {
    display: none;
}

.bugger.active div:last-child {
    transform: rotate(-45deg) translate(0.2rem, -0.2rem);
}

body.active {
    background-color: lightcyan;
}

.menu {
    position: absolute;
    top: 0;
    margin: 2rem;
    width: 20rem;
    height: fit-content;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    border-radius: 0.7rem;
    color: gray;
    background-color: lightgray;
}

body.active .menu {
    opacity: 1;
    visibility: visible;
}

.menu li {
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 0.7rem;
    background-color: white;
    cursor: pointer;
}

.menu li:first-child {
    margin-top: 6rem;
}

.menu li:hover {
    color: white;
    transition: 0.5s;
}