* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    min-height: 100vh;
    font-size: 1.5rem;
}

li {
    list-style: none;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div {
    padding: 2rem;
    width: 40rem;
    height: 60rem;
    overflow: auto;
    text-align: center;
    border: 0.1rem solid black;
}

div::-webkit-scrollbar {
    width: 0.3rem;
}
div::-webkit-scrollbar-thumb {
    background-color: white;
}
div::-webkit-scrollbar-track {
    background-color:black;
}

input {
    padding-left: 1.5rem;
    width: 95%;
    height: 5rem;
    overflow: hidden;
    border-style: none;
    color: white;
    background-color: black;
}

input::placeholder {
    color: white;
}

ul {
    margin: 0 auto;
    margin-top: 2rem;
    width: 95%;
    text-align: left;
    border: 0.1rem solid black;
}

li {
    padding: 1.5rem;
}

li:hover {
    color: white;
    background-color: black;
}