html {
    font-size: 10px;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "NanumSquare","맑은 고딕", sans-serif;
    font-size: 1.3rem;
}

ul ,li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* top */

#navdiv {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    line-height: 5.5rem;
    white-space: nowrap;
    background-color: white;
    box-shadow: 1px 1px 3px 1px lightgray;
    /* background-color: yellow; */
}

#navdiv img {
    vertical-align: middle;
}

#navdiv ul {
    display: flex;
    flex-direction: row;
}

.navul1 li input {
    margin-left: 10px;
    padding-left: 10px;
    width: 230px;
    height: 35px;
    background-color: #f5f5f5;
    border-radius: 20px;
    border-style: none;
}

#navdiv li:first-child {
    margin-left: 20px;
}

#navdiv li:last-child {
    margin-right: 20px;
}

.navul2 {
    position: relative;
    left: 0;
    right: 0;
}

.navul2 li {
    padding: 0px 50px 0px 50px;
}

.navul2 li:first-child {
    border-bottom: 3px blue solid;
}

.navul3 li {
    margin-left: 10px;
}

.navul3 li p {
    margin: 10px 10px 0px 0px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #e0e0e0;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.login {
    margin-right: 10px;
}

.dropdown {
    position: absolute;
    display: none;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 3px 1px lightgray;
}

.dropdown button {
    width: 80px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
}

.dropdown button:hover {
    background-color: lightgray;
}

.login:hover .dropdown {
    display: block;
}

.ul3icon {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    border-radius: 50%;
    text-align: center;
}

.ul3icon img {
    margin-bottom: 3px;
    width: 18px;
    vertical-align: text-top;
}



/* body */

#container {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
}

/* left */

#left {
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #f5f5f5;
}

.leftmenu {
    margin: 10px;
}

.leftmenu li {
    padding: 10px 0px 10px 10px;
}

.leftmenu li:hover {
    border-radius: 10px;
    background-color: lightgray;
}

#left .leftmenu img {
    margin-right: 15px;
    width: 40px;
}

#left .leftmenu li {
    display: flex;
}


/* middle */

#main {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    /* background-color: lightgreen; */
}

.mainwrap {
    margin: 20px auto;
    width: 600px;
    /* background-color: salmon; */
}

.mainwrap div {
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
}

.story {
    display: flex;
    box-shadow: 1px 1px 3px 1px lightgray;
}

.story div {
    margin: 15px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    background-color: #cbf3ff;
    border-radius: 50%;
    text-align: center;
    color: blue;
    font-size: 3rem;
}

.story ul {
    margin-top: 15px;
    height: fit-content;
}

.story ul li:first-child {
    font-size: 1.5rem;
    font-weight: bold;
}

.write {
    box-shadow: 1px 1px 3px 1px lightgray;
}

.write div {
    padding: 15px 0px 15px 0px;
    /* background-color: yellow; */
}

.write div img {
    width: 40px;
    margin: 0px 15px 0px 15px;
    /* background-color: aqua; */
    vertical-align: middle;
}

.write input {
    padding-left: 15px;
    margin: 0;
    width: 490px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 20px;
    border-style: none;
}

.write ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
    border-top: #f5f5f5 1px solid;
    /* background-color: aqua; */
}

.write ul li {
    margin: 15px 20px 15px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
}

.write ul li img {
    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

/* content */

.written {
    height: fit-content;
    box-shadow: 1px 1px 3px 1px lightgray;
}

.wname {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding-top: 15px;
    /* background-color: aqua; */
}

.wname ul {
    display: flex;
}

.wname ul li:nth-child(2) {
    margin-left: 15px;
    padding-top: 5px;
}

.wmore button {
    width: 50px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
}

.wmore button:nth-child(2) {
    background-color: red;
    color: white;
}

.wmore button:hover {
    background-color: lightgray;
}


.content {
    padding: 0;
    margin: 0px 15px 20px 15px;
    font-family: "NanumSquare","맑은 고딕", sans-serif;
    font-size: 2.5rem;
    white-space: pre;
    /* border: 1px solid red; */
}

.written p {
    margin-left: 15px;
    width: fit-content;
    color: blue;
}

.wlike {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.wlike img {
    margin-right: 10px;
    width: 20px;
    vertical-align: text-top;
}

.re {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    height: 40px;
}

.re img {
    width: 40px;
}

.re input {
    margin-left: 10px;
    padding-left: 15px;
    width: 505px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 20px;
    border-style: none;
}



/* right */

#right {
    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #f5f5f5;
}

#right .leftmenu li:first-child {
    color: gray;
    font-weight: bold;
    font-size: 1.5rem;
}

#right .leftmenu li:nth-child(2) {
    display: flex;
}

#right .leftmenu div {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    background-color: #e0e0e0;
    border-radius: 50%;
    text-align: center;
    font-size: 3rem;
}

@media (max-width: 900px) {

    .navul1 li input {
        display: none;
    }

    .navul3 li p {
        display: none;
    }

    .navul2 li {
        display: none;
    }

    .navul3 li:nth-child(n+3):nth-child(-n+5) {
        display: none;
    }

    #left {
        display: none;
    }

    #right {
        display: none;
    }

    #main {
        width: 100%;
    }
    
    .mainwrap {
        width: 90%;
    }

    .write input {
        width: 80%;
    }

    .re input {
        width: 80%;
    }
}


/* sign_in */

#incontainer {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.inleft {
    width: 30%;
    font-size: 2.5rem;
}

.inleft img {
    width: 300px;
}

.inleft p {
    margin: 0px 0px 0px 30px;
}

.inright {
    width: 30%;
    margin-left: 5%;
    text-align: center;
}

.inrightin {
    margin: 0 auto;
    padding: 25px;
    width: 306px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px lightgray;
}

.inright input {
    margin-bottom: 15px;
    padding-left: 10px;
    width: 290px;
    height: 50px;
    border: 2px #f5f5f5 solid;
    border-radius: 5px;
    font-size: 1.7rem;
}

.inright button {
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
}

.inlogin {
    width: 306px;
    height: 50px;
    background-color: blue;
    border-style: none;
    color: white;
}

.innewacc {
    width: 200px;
    height: 50px;
    background-color: green;
    border-style: none;
    color: white;
}

/* sign up */

#upcontainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.join {
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
    width: 400px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px lightgray;
}

.join input {
    margin-bottom: 15px;
    padding-left: 10px;
    width: 290px;
    height: 50px;
    border: 2px #f5f5f5 solid;
    border-radius: 5px;
    font-size: 17px;
}

.upnewacc {
    width: 306px;
    height: 50px;
    background-color: green;
    border-style: none;
    color: white;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
}

.upnewacc1 {
    margin-top: 15px;
    width: 306px;
    height: 50px;
    background-color: red;
    border-style: none;
    color: white;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
}

/* writing */

.writebox {
    padding: 10px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px lightgray;
}

.writebox h2 {
    margin: 0;
    padding: 15px 0px 15px 0px;
    text-align: center;
    border-bottom: 2px solid #f5f5f5;
}

.writebox ul {
    display: flex;
}

.wul1 {
    padding: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
}

.wul1 img {
    margin-right: 15px;
}

.writebox textarea {
    padding: 10px;
    width: 480px;
    height: 100px;
    border-style: none;
    font-family: "NanumSquare","맑은 고딕", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    resize: none;
}

.writebox textarea::placeholder {
    font-family: "NanumSquare","맑은 고딕", sans-serif;
}

.wul2 {
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.wul2 img {
    width: 30px;
}

.wul3 {
    justify-content: space-between;
    margin: 15px;
    padding: 5px 20px 5px 20px;
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px lightgray solid;
    border-radius: 10px;
}

.wul3 img {
    width: 30px;
    margin-left: 5px;
    vertical-align: middle;
}

.writebox button {
    margin: 0px 15px 10px 15px;
    width: 470px;
    height: 45px;
    background-color: blue;
    color: white;
    border-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
}

button, input[type='submit'] {
    cursor: pointer;
}