* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    font-family: Helvetica;
}

body::-webkit-scrollbar {
    width: 0.3rem;
}
body::-webkit-scrollbar-thumb {
    background-color: tomato;
}
body::-webkit-scrollbar-track {
    background-color: lightgray;
}

::-moz-selection {
    color: white;
    background-color: lightgray;
 }
 ::selection {
    color: white;
    background-color: lightgray;
 }

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wjoin {
    background-image: url(https://cdn.mos.cms.futurecdn.net/mrqSXFiyYup7WkhYDyxnPQ-1200-80.jpg);
}

.wlogin {
    background-image: url(https://assets.mubicdn.net/images/film/210029/image-w1280.jpg);
}

.widx {
    background-image: url(https://pbs.twimg.com/media/FVKy3qIaQAEvMo9?format=jpg&name=4096x4096);
}

.con {
    background-image: url(https://images2.alphacoders.com/760/thumb-1920-760735.jpg);
}

.board {
    background-image: url(https://images2.alphacoders.com/870/thumb-1920-870886.jpg);
}

.wcn {
    background-image: url(https://i.pinimg.com/originals/60/91/85/6091855d71585e0bb99afb959f7ee8bd.jpg);
}

.container {
    margin: 3rem;
    padding: 3rem;
    width: 50rem;
    font-size: 1.3rem;
    border-radius: 3rem;
    background-color: white;
}

.cj {
    border: 0.3rem solid tomato;
}

.cl {
    border: 0.3rem solid plum;
}

.ci {
    border: 0.3rem solid lightseagreen;
}

.cc {
    border: 0.3rem solid lightpink;
}

.cb {
    border: 0.3rem solid sandybrown;
}

.ccn {
    border: 0.3rem solid gray;
}

.double {
    display: flex;
    gap: 1rem;
}

.double > .frame {
    margin-right: 1rem;
    width: 100%;
}

.double > .frame:last-child {
    margin-right: 0;
}

.login > div:not(.fr-in) {
    color: plum;
    border: 0.3rem solid plum;
}

.frame:not(.login, .write) {
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.frame > div:not(.fr-in) {
    padding: 1.5rem;
    font-weight: bold;
    border-radius: 3rem;
    color: tomato;
    border: 0.3rem solid tomato;
    background-color: white;
}

.login > div:not(.fr-in) {
    color: plum;
    border: 0.3rem solid plum;
}

.frame > input, .fr-in {
    margin-top: 1rem;
    background-color: #f5f5f5;
}

.frame > input[type='text'], .frame > input[type='password'] {
    padding-left: 2rem;
    width: 100%;
    height: 4rem;
    border-style: none;
    border-radius: 3rem;
}

.rd {
    line-height: 5rem;
    border-radius: 3rem;
}

.cbox {
    padding-bottom: 1rem;
    border-radius: 1.5rem;
}

.genre-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 23rem;
}

input[type='radio'], input[type='checkbox'] {
    display: none;
}

input[type='radio'] + label, input[type='checkbox'] + label {
    padding: 1rem;
    color: white;
    border-radius: 3rem;
    background-color: lightgray;
    cursor: pointer;
}

input[type='radio'] + label:hover, input[type='checkbox'] + label:hover {
    background-color: gray;
}

input[type='radio']:checked + label, input[type='checkbox']:checked + label  {
    color: white;
    background-color: tomato;
}

input[type='checkbox'] + label {
    display: inline-block;
    margin-top: 1rem;
    line-height: 1.5rem;
}


.cj > input[type='submit'] {
    width: 50%;
    height: 5rem;
    border-style: none;
    border-radius: 3rem;
    color: white;
    background-color: tomato;
    cursor: pointer;
}

.login > input[type='submit'] {
    width: 100%;
    height: 5rem;
    border-style: none;
    border-radius: 3rem;
    color: white;
    background-color: plum;
    cursor: pointer;
}

.ci > input[type='submit'] {
    width: 100%;
    background-color: lightseagreen;
}

.write > input[type='submit'] {
    background-color: lightpink;
}

.writeTitle {
    padding-left: 2rem;
    width: 100%;
    height: 5rem;
    border-radius: 3rem;
    border: 0.3rem solid lightpink;
}

textarea {
    margin: 1rem 0 1rem 0;
    padding: 2rem;
    width: 100%;
    height: 50rem;
    border-radius: 2rem;
    border: 0.3rem solid lightpink;
    font-size: 1.7rem;
    font-family: '맑은고딕';
    resize: none;
}

textarea::placeholder {
    font-family: Helvetica;
}

.wBtn {
    text-align: center;
}

.wBtn > input {
    width: 50%;
    height: 5rem;
    border-radius: 3rem;
    border-style: none;
    color: white;
    background-color: lightpink;
}

.backBtnDiv {
    margin-top: 1rem;
}

.backBtnDiv > button {
    border-style: none;
    font-weight: bold;
    color: lightpink;
    background-color: transparent;
}

.backBtnDiv > button:hover {
    color: lightgray;
}

.wBtn > input, .backBtnDiv > button {
    cursor: pointer;
}

.ci > div:not(.indexBtnDiv) {
    padding: 0 3rem 3rem 3rem;
    font-size: 3rem;
    font-weight: bold;
    color: lightseagreen;
}

.indexBtnDiv > form > input {
    width: 100%;
    height: 5rem;
    border-style: none;
    color: white;
    border-radius: 3rem;
    background-color: lightseagreen;
    cursor: pointer;
}

.indexBtnDiv > form:last-child > input {
    margin-top: 1rem;
    background-color: gray;
}

.indexBtnDiv > form:last-child > input:hover {
    background-color: lightgray;
}

input[type='submit']:hover {
    background-color: lightgray;
}

.ci > div > p {
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
    width: fit-content;
    border-radius: 3rem;
    color: white;
    background-color: lightseagreen;
}

.ci > div > span {
    line-height: 5rem;
}

#idChkF {
    display: none;
    color: tomato;
}

#idChkT {
    display: none;
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table > tbody > tr {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
    border-bottom: 0.2rem dashed lightgray;
}

table > tbody > tr:last-child {
    border-bottom: 0;
}

.boardTitle {
    width: 25rem;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.boardTitle > a {
    position: relative;
    color: gray;
    text-decoration: none;
}

.boardTitle > a:hover {
    filter: blur(0.1rem);
}

.boardID {
    width: 12rem;
    /* background-color: bisque; */
}

.boardID > span {
    padding: 1rem;
    border-radius: 3rem;
    color: white;
    background-color: lightgray;
}

.boardTime {
    width: calc(100% - 37rem);
    text-align: end;
    color: gray;
    /* background-color: lightpink; */
}

.boardID, .boardTime {
    font-size: 1.1rem;
}


.cb > .writeBtnDiv {
    margin-top: 1rem;
    text-align: end;
}

.cb > .writeBtnDiv > button {
    width: 7rem;
    height: 4rem;
    color: white;
    border-radius: 3rem;
    border-style: none;
    background-color: sandybrown;
    cursor: pointer;
}

.cb > .writeBtnDiv > button:hover {
    background-color: lightgray;
}

.contentsTitle {
    margin: 0 auto;
    padding: 1rem 2rem 1rem 2rem;
    width: fit-content;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    border-radius: 3rem;
    background-color: gray;
}

.contentsName {
    margin-top: 1rem;
    padding: 1rem;
    font-weight: bold;
    /* background-color: salmon; */
}

.contentsDate {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    /* background-color: lightgreen; */
}

.contentsName, .contentsDate {
    color: gray;
}

.contents {
    padding: 2rem;
    text-align: left;
    line-height: 2.2rem;
    white-space: pre-wrap;
    border-radius: 3rem;
    border: 0.3rem solid gray;
    background-color: white;
}

.contentsDiv > .backBtnDiv {
    margin-top: 2rem;
}

.contentsDiv > .backBtnDiv > button {
    color: gray;
}

.contentsDiv > .backBtnDiv > button:hover {
    color: lightgray;
}

@media screen and (max-width: 45rem) {

    .container {
        width: 85%;
    }

    .ci > div > div {
        width: 100%;
    }

    .double {
        flex-wrap: wrap;
        gap: 0;
    }
    
    .double > .frame {
        margin-right: 0;
    }

    .login > input[type='text'] {
        margin-bottom: 1rem;
    }

    .boardTitle {
        width: 55%;
    }
    
    .boardID {
        width: 25%;
    }
    
    .boardTime {
        width: 20%;
    }
}