* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    font-family: '맑은고딕', 'Helvetica';
}

li {
    list-style: none;
}

button, input[type='button'] {
    cursor: pointer;
}

/* header */
header {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    /* background: linear-gradient(0deg, rgba(251,255,137,1) 0%, rgba(195,250,70,1) 57%, rgba(251,255,137,1) 100%); */
    color: white;
    background: linear-gradient(0deg, rgba(247,255,219,1) 0%, rgba(136,229,250,1) 63%, rgba(183,249,255,1) 100%);
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem lightgray;
}

header > div {
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.7rem;
    font-weight: bold;
    /* color: white; */
    /* background-color: aqua; */
}

header > ul {
    display: flex;
    /* background-color: blue; */
}

header > ul > li, .prev, .next {
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: bold;
    border: 0.1rem solid lightgray;
    border-radius: 50%;
    color: gray;
    /* background-color: white; */
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem lightgray;
}

header > ul > li:first-child {
    padding-top: 0;
}

header > ul > li:last-child {
    margin-right: 0;
}

/* nav */
nav {
    padding: 1rem;
    border-top: 0.2rem solid #e0e9eb;
    border-bottom: 0.2rem solid #e0e9eb;
    background-color: #f5f5f5;
}

nav > ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5rem;
    width: 20rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 3rem;
    border: 0.1rem solid lightgray;
    color: lightskyblue;
    background-color: lightcyan;
}

nav > ul > li {
    padding: 0.5rem;
    width: 100%;
    border-radius: 3rem;
    cursor: pointer;
}

nav > ul > li:first-child {
    border: 0.1rem solid lightgray;
    color: white;
    background: linear-gradient(0deg, rgba(183,249,255,1) 0%, rgba(136,229,250,1) 63%, rgba(183,249,255,1) 100%);
}

/* main */
body {
    /* background-color: bisque; */
}

/* calendar */
.cal {
    background-color: lightcyan;
}

.calendar-control {
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    background-color: lightyellow;
}

.calendar-control > div:nth-child(2) {
    margin: 0 1rem 0 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: lightskyblue;
}

.prev, .next {
    transition: transform 0.3s ease;
    font-size: 1rem;
    color: lightskyblue;
    cursor: pointer;
}

.prev:hover, .next:hover {
    transform: translate(0.3rem, 0.3rem);
}

.calendar {
    margin: 0 auto;
    width: 50rem;
    height: 50rem;
    background-color: lavender;
}

/* todolist */
.todo {
    display: none;
    margin: 0 auto;
    width: 60rem;
    /* background-color: yellow; */
}

.todo > div:first-child {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    border-radius: 3rem;
    border: 0.1rem solid lightgray;
    background-color: lightcyan;
}

.todoInput {
    padding-left: 1.5rem;
    width: 100%;
    height: 4rem;
    border-radius: 3rem;
    border: 0.1rem solid lightgray;
}

.todoInput::placeholder {
    font-family: '맑은고딕';
    font-size: 1.1rem;
    color: lightskyblue;
}

.todoInputBtn {
    width: 4.5rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    border: 0.1rem solid lightgray;
    color: white;
    background: linear-gradient(0deg, rgba(183,249,255,1) 0%, rgba(136,229,250,1) 50%, rgba(183,249,255,1) 100%);
}

.btnDiv {
    text-align: center;
    /* background-color: lightgreen; */
}

.btnDiv > input[type='button'] {
    margin-right: 0.5rem;
    width: 12rem;
    height: 4rem;
    transition: transform 0.3s ease;
    border-radius: 3rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border: 0.1rem solid lightgray;
    box-shadow: 0 0 0.5rem 0 lightgray;
}

.btnDiv > input[type='button']:hover {
    transform: translate(0.2rem, 0.2rem);
}

.btnAll {
    background: linear-gradient(0deg, rgba(255,239,248,1) 10%, rgba(255,208,233,1) 55%, rgba(255,239,248,1) 100%);
}

.btnIng {
    background: linear-gradient(0deg, rgba(234,255,205,1) 10%, rgba(200,233,154,1) 55%, rgba(234,255,205,1) 100%);
}

.btnEd {
    margin-right: 0;
    background: linear-gradient(0deg, rgba(255,250,223,1) 10%, rgba(255,225,170,1) 55%, rgba(255,250,223,1) 100%);
}

.labelDiv {
    margin: 1rem 0 1rem 0;
    padding-right: 3rem;
    text-align: end;
    /* background-color: aquamarine; */
}

.labelDiv > label > span {
    margin: 0 1rem 0 0.5rem;
    font-size: 1.2rem;
    color: gray;
    /* background-color: skyblue; */
    cursor: pointer;
}

.labelDiv > label > button, .todolist > li > button {
    font-size: 1.7rem;
    font-weight: bold;
    border-style: none;
    color: lightskyblue;
    background-color: transparent;
}


.todolist {
    margin-bottom: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    border: 0.2rem solid lightskyblue;
    background-color: white;
    /* box-shadow: 0 0 1rem 0.1rem lightskyblue; */
}

.todolist > li {
    position: relative;
    padding: 2rem 0 2rem 0;
    border-bottom: 0.1rem solid lightskyblue;
    /* background-color: w; */
}

.todolist > li:hover {
    background-color: #f5f5f5;
}

.todolist > li:last-child {
    border-bottom: 0;
}

.todolist > li > label {
    font-size: 1.4rem;
    color: gray;
    cursor: pointer;
}

.yet {
    padding: 2rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: lightskyblue;
}

.listCheck {
    margin-right: 1rem;
}

.todolist > li > button {
    position: absolute;
    right: 1rem;
}

.todolist > li > button:hover {
    color: lightcyan;
}


/* footer */
footer {
    width: 100%;
    height: 3rem;
    background-color: lightgray;
}

/* media */
@media all and (max-width: 60rem) {
    header > div {
        margin: 0 auto;
    }

    header > ul {
        display: none;
    }

    .calendar, .todo {
        width: 50rem;
    }

    .btnDiv > input[type='button'] {
        margin: 0;
        width: 10rem;
    }
}

@media all and (max-width: 40rem) {
    .calendar, .todo {
        width: 90%;
    }

    .btnDiv > input[type='button'] {
        width: 30%;
    }
}

/* 그라디언트 https://cssgradient.io/ 
    컬러 차트 https://color.adobe.com/create/color-wheel */