* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    font-family: '맑은 고딕', 'Helvetica';
}

li {
    list-style: none;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #00807F;
}

#notepad {
    padding: 1rem;
    width: 50rem;
    height: 60rem;
    border: 0.1rem solid black;
    background-color: lightgray;
}

.note-top {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    line-height: 2.5rem;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    border: 0.1rem solid black;
    background-color: blue;
}

.note-top > div > img {
    margin-left: 0.5rem;
    width: 1.5rem;
}

.note-top > ul {
    display: flex;
}

.note-top > ul > li {
    margin: 0.3rem 0 0.3rem 0.3rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: black;
    background-color: lightgray;
}

.note-top > ul > li:last-child {
    margin-right: 0.3rem;
}

.note-nav {
    height: 3rem;
    line-height: 3rem;
    /* background-color: aqua; */
}

.note-nav > ul {
    display: flex;
}

.note-nav > ul > li {
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    /* background-color: lawngreen; */
}

.note-nav > ul > li:hover {
    background-color: gray;
}

.dropdown {
    position: absolute;
    transform: translate(0%, 24%);
    display: none;
    padding: 0.1rem;
    width: 15rem;
    text-align: center;
    background-color: lightgray;
}

.dropdown > li {
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: 0.1rem gray solid;
    cursor: pointer;
}
.dropdown > li:last-child {
    border: none;
}

.dropdown > li:hover {
    color: white;
    background-color: blue;
}

.note-nav > ul > .dropdown:first-child {
    background-color: red;
}

.contents {
    width: 100%;
    height: 90%;
    overflow: scroll;
    resize: none;
    font-size: 3rem;
    font-family: '맑은 고딕', 'Helvetica';
    background-color: white;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: gray;
}

.footer-note {
    margin: 0.5rem;
    padding-left: 1rem;
    width: 20rem;
    border: 0.1rem solid black;
    cursor: pointer;
}

.footer-note:hover {
    background-color: lightgray;
}

@media (max-width: 50rem) {
    #notepad {
        width: 85%;
        height: 50rem;
    }
    
    .contents {
        height: 88%;
    }
}