* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Helvetica', '맑은고딕';
}

body {
    font-size: 1.5rem;
}

li {
    list-style: none;
}

button, input[type='file'], input[type='submit'], a {
    cursor: pointer;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.board {
    padding: 2rem;
    width: 60rem;
    background-color: aquamarine;
}

/* write */
.board > form {
    background-color: lightskyblue;
}

.board > form > div > input, textarea, button {
    font-size: 1.2rem;
}

.board > form > div > input:not(input[type='submit'], input[type='file']) {
    padding-left: 1rem;
    height: 3rem;
}

.board > form > div:first-child {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/* name / pwd */
.board > form > div:first-child > input {
    width: 50%;
}

/* subject */
.board > form > div:nth-child(2) > input {
    margin: 1rem 0 1rem 0;
    width: 100%;
}

textarea {
    display: block;
    padding: 1rem;
    width: 100%;
    height: 20rem;
    font-family: '맑은고딕';
    resize: none;
}

/* file */
.board > form > div:nth-child(4) {
    margin: 1rem 0 1rem 0;
    background-color: yellow;
}

/* button */
.board > form > div:last-child {
    text-align: end;
}

.board > form > div:last-child > input {
    width: 8rem;
    height: 3rem;
}

.backBtnDiv {
    margin-top: 1rem;
    text-align: center;
    background-color: lightpink;
}

/* index */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: blue;
}

table > tbody > tr {
    display: flex;
    border-bottom: 0.1rem solid orangered;
}

table > tbody > tr:last-child {
    border-bottom: 0;
}

table > tbody > tr > td {
    padding: 1rem 0 1rem 0;
    text-align: center;
    background-color: yellow;
}

/* number */
table > tbody > tr > td:first-child {
    width: 3rem;
    background-color: salmon;
}

/* title */
table > tbody > tr > td:nth-child(2) {
    padding-left: 1rem;
    width: 36rem;
    text-align: left;
    background-color: lightcyan;
}

table > tbody > tr > td > a {
    text-decoration: none;
    color: black;
}

/* name */
table > tbody > tr > td:nth-child(3) {
    width: 10rem;
    background-color: lightyellow;
}

table > tbody > tr > td:nth-child(2), table > tbody > tr > td:nth-child(3) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* date */
table > tbody > tr > td:last-child {
    padding-right: 1rem;
    width: 7rem;
    text-align: end;
    background-color: lightgray;
}

table > tbody > tr > td:first-child, table > tbody > tr > td:nth-child(3), table > tbody > tr > td:last-child {
    font-size: 1.2rem;
}

.writeBtnDiv {
    display: block;
    margin-top: 1rem;
    text-align: end;
    background-color: orange;
}

.writeBtn {

}

/* contents */
.contentsDiv {
    padding: 1rem;
    background-color: lavender;
}

.contentsDiv > div:not(.backBtnDiv) {
    padding: 1rem;
}

.contentsDiv > div:not(.contents, .backBtnDiv) {
    text-align: center;
}

.contentsTitle {
    font-size: 2rem;
    font-weight: bold;
    background-color: aqua;
}

.contentsName {
    background-color: yellow;
}

.contentsDate {
    font-size: 1.2rem;
    background-color: lightblue;
}

.contents {
    white-space: pre-wrap;
    background-color: lightgreen;
}

@media all and (max-width: 40rem) {
    .board {
        padding: 1rem;
        width: 95%;
    }

    table > tbody > tr > td:first-child {
        display: none;
    }
    
    /* title */
    table > tbody > tr > td:nth-child(2) {
        width: 50%;
    }
    
    /* name */
    table > tbody > tr > td:nth-child(3) {
        width: 30%;
    }
    
    /* date */
    table > tbody > tr > td:last-child {
        width: 20%;
    }
}