* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Helvetica', '맑은고딕';
}

body {
    font-size: 1.5rem;
    background-image: url(https://i.ibb.co/LPMcPsy/pexels-gdtography-950241.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    list-style: none;
}

button, input[type='file'], input[type='submit'], a {
    cursor: pointer;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    margin: 2rem;
    padding: 2rem;
    width: 60rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
    box-shadow: 0 0 0.5rem 0.2rem lightgray;
}

/* write */

.board > form > div > input::placeholder, #replyForm > div:first-child > input::placeholder {
    font-size: 1.1rem;
}

.board > form > div > input, textarea, button {
    font-size: 1.2rem;
}

.board > form > div > input:not(input[type='submit'], input[type='file']) {
    padding-left: 1rem;
    height: 3rem;
}

.board > form > div > input:not(input[type='submit'], input[type='file']), textarea {
    border-style: none;
    box-shadow: 0 0 0.5rem 0.2rem lightgray;
}

.board > form > div:first-child {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/* name / pwd */
.board > form > div:first-child > input {
    width: 50%;
}

/* subject */
.board > form > div:nth-child(2) > input {
    margin: 1rem 0 1rem 0;
    width: 100%;
}

textarea {
    display: block;
    padding: 1rem;
    width: 100%;
    height: 20rem;
    font-family: '맑은고딕';
    resize: none;
}

/* file */
.board > form > div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
    /* background-color: yellow; */
}

.board > form > div:nth-child(4) > input:first-child {
    padding: 1.65rem 0 1.65rem 1rem;
    width: calc(100% - 8rem);
    /* height: 100%; */
}

.board > form > div:nth-child(4) > label {
    display: inline-block;
    padding: 1rem 0 1rem 0;
    width: 7rem;
    transition: transform 0.3s ease;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: tomato;
    border-style: none;
    background-color: white;
    box-shadow: 0 0 0.5rem 0.2rem lightgray;
    cursor: pointer;
}

.board > form > div:nth-child(4) > input[type='file'] {
    position: absolute;
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 0;
}

/* button */
.board > form > div:last-child {
    text-align: end;
}

.board > form > div:last-child > input {
    padding: 1rem 0 1rem 0;
    width: 7rem;
    transition: transform 0.3s ease;
    color: white;
    border-style: none;
    background-color: tomato;
    box-shadow: 0 0 0.5rem 0.2rem lightgray;
}

.board > form > div:nth-child(4) > label:hover, .board > form > div:last-child > input:hover {
    transform: translate(0.3rem, 0.3rem);
}

.backBtnDiv {
    margin-top: 2rem;
    text-align: center;
}

.backBtn {
    font-weight: bold;
    color: tomato;
    border-style: none;
    background-color: transparent;
}

.backBtn:hover {
    color: white;
}

/* index */
table {
    width: 100%;
    font-size: 1.2rem;
    border-collapse: collapse;
}

table > tbody > tr {
    display: flex;
    margin-bottom: 1rem;
    box-shadow: 0 0 0.5rem 0.2rem lightgray;
}

table > tbody > tr:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

table > tbody > tr > td {
    padding: 1.5rem 0 1.5rem 0;
    text-align: center;
    background-color: white;
}

/* number */
table > tbody > tr > td:first-child {
    width: 3rem;
    color: white;
    background-color: tomato;
}

table > tbody > tr > td:first-child, table > tbody > tr > td:last-child {
    font-size: 1.1rem;
}

/* title */
table > tbody > tr > td:nth-child(2) {
    padding-left: 1.5rem;
    width: 35rem;
    text-align: left;
    font-size: 1.3rem;
    /* background-color: lightcyan; */
}

table > tbody > tr > td > a {
    position: relative;
    text-decoration: none;
    color: gray;
}

table > tbody > tr > td > a::after {
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    content: '';
    margin: 0.5rem 0 0;
    width: 0;
    height: 0.3rem;
    transition: all 0.3s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: tomato;
}

table > tbody > tr > td > a:hover::after {
    width: 100%;
    opacity: 1;
}

/* name */
table > tbody > tr > td:nth-child(3) {
    width: 11rem;
    /* background-color: lightyellow; */
}

table > tbody > tr > td:nth-child(2), table > tbody > tr > td:nth-child(3) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table > tbody > tr > td:nth-child(3) > span, .contentsName > span {
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    background-color: lightgray;
}

/* date */
table > tbody > tr > td:last-child {
    padding-right: 1.5rem;
    width: 7rem;
    text-align: end;
    color: gray;
    /* background-color: yellowgreen; */
}

.writeBtnDiv {
    display: block;
    margin-top: 1rem;
    text-align: end;
}

.writeBtn {
    padding: 1rem 0 1rem 0;
    width: 7rem;
    transition: transform 0.3s ease;
    color: white;
    border-style: none;
    background-color: tomato;
    box-shadow: 0 0 0.5rem 0.2rem lightgray;
}

.writeBtn:hover {
    transform: translate(0.3rem, 0.3rem);
}

/* contents */
.contentsDiv {
    /* padding: 1rem; */
    /* background-color: lavender; */
}

.contentsName, .contentsDate {
    padding: 1rem;
}

.contentsDiv > div:not(.contents, .backBtnDiv) {
    text-align: center;
}

.contentsTitle {
    margin-bottom: 1rem;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: tomato;
    background-color: white;
    box-shadow: 0 0 0.5rem 0.2rem lightgray;
}


.contentsDate {
    font-size: 1.2rem;
    color: gray;
    /* background-color: lightblue; */
}

.contents {
    margin: 1rem 0 1rem 0;
    padding: 2rem;
    white-space: pre-wrap;
    background-color: white;
    box-shadow: 0 0 0.5rem 0.2rem lightgray;
}

#replyDiv {
    color: white;
    background-color: tomato;
}

#replyForm > div:first-child {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

#replyForm > div:first-child > input {
    padding-left: 1rem;
    width: 100%;
    height: 3rem;
    border-style: none;
    box-shadow: 0 0 0.5rem 0.2rem lightgrey;
}

#replyForm > div > textarea {
    margin: 1rem 0 1rem 0;
    height: 10rem;
}

#replyForm > div:last-child {
    text-align: end;
}

@media all and (max-width: 40rem) {
    .board {
        width: 95%;
    }

    table > tbody > tr > td:first-child {
        display: none;
    }
    
    /* title */
    table > tbody > tr > td:nth-child(2) {
        width: 50%;
    }
    
    /* name */
    table > tbody > tr > td:nth-child(3) {
        width: 30%;
    }
    
    /* date */
    table > tbody > tr > td:last-child {
        width: 20%;
    }
}