td {
    width: 70px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    color: #684A23;
    font-size: 18pt;
    font-weight: bold;
    border: 2px solid #372c25;
    border-radius: 9px;
    background-color: #FBEDDC;
}