* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Helvetica, '��������';
    font-size: 1.5rem;
}

li {
    list-style: none;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
.headerBack {
    position: fixed;
    width: 100%;
    height: 6rem;
    transition: 0.3s ease;
    background-color: black;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 6rem;
    /* line-height: 6rem; */
}

#logo, .headerList > li {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    font-weight: bold;
    color: white;
}

#logo {
    margin-left: 2rem;
    font-size: 2.5rem;
    /* background-color: aqua; */
}

.headerList {
    display: flex;
    margin-right: 2rem;
    /* background-color: aqua; */
}

.headerList > li {
    margin-right: 2rem;
    /* background-color: lightgreen; */
    cursor: pointer;
}

.headerList > li:last-child {
    margin-right: 0;
}

.headerList > li:hover {
    color: lightgray;
    transition: all 0.3s ease-in-out;
}

.headerList > li::after {
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    content: '';
    margin: 0.5rem 0 0;
    width: 0;
    height: 0.4rem;
    transition: all 0.3s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: lightgray;
}

.headerList > li:hover::after {
    width: 100%;
    opacity: 1;
}

/* hambugger */
#hambugger {
    display: none;
}

/* nav */
nav {
    position: fixed;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);    
    width: fit-content;
    text-align: center;
    font-size: 1.2rem;
    /* background-color: skyblue; */
}

nav > ul {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 2rem;
    background-color: white;
}

nav > ul > li {
    padding: 2rem 3rem;
}

nav > ul > li:first-child {
    border-radius: 1rem 1rem 0 0;
}

nav > ul > li:last-child {
    border-radius: 0 0 1rem 1rem;
}

.topBtn > img, .bottomBtn > img {
    width: 3rem;
    cursor: pointer;
}

/* main */
main {
    width: 100%;
    background-color: antiquewhite;
}

.container {
    margin: 0 auto;
    width: 80rem;
    background-color: lightyellow;
}

/* first */
.first {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 6rem);
    background-color: black;
}

#typeit {
    width: 60rem;
    font-size: 6rem;
    text-align: center;
    font-family: 'GmarketSansMedium';
    color: white;
    /* background-color: lightgreen; */
}

.myName {
    border-bottom: 1rem solid white;
}

.firstImg {
    position: absolute;
    bottom: 2rem;
}

.firstImg > img {
    width: 5rem;
    cursor: pointer;
}

/* about */
.about {
    width: 100%;
    height: 60rem;
    background-color: lightskyblue;
}

/* skills */
.skills {
    width: 100%;
    height: 60rem;
    background-color: lavender;
}

/* project */
.project {
    width: 100%;
    height: 60rem;
    background-color: lightgreen;
}

/* contact */
.contact {
    width: 100%;
    height: 60rem;
    background-color: lightpink;
}

/* footer */
footer {
    height: 20rem;
    background-color: gray;
}

@media (max-width: 60rem) {
    .container {
        width: 60rem;
    }

    #typeit {
        width: 50rem;
        font-size: 5rem;
    }
}


@media (max-width: 40rem) {

    #logo {
        font-size: 2rem;
    }

    header {
        z-index: 100;
    }

    .headerList {
        position: absolute;
        top: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        width: 100%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        background-color: black;
    }

    .headerList > li {
        top: auto;
        transform: none;
        margin-right: 0;
        padding: 2rem;
        height: fit-content;
    }

    .headerList > li::after {
        position: relative;
        left: 0;
        bottom: 0;
        content: '';
        margin: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }
    
    .headerList > li:hover::after {
        width: 0;
        opacity: 0;
    }

    #hambugger {
        position: absolute;
        top: 50%;
        right: 2rem;
        display: block;
        transform: translateY(-50%);
        width: 3rem;
        height: 2.5rem;
        cursor: pointer;
    }
    
    #hambugger > li {
        position: absolute;
        width: 100%;
        height: 0.5rem;
        background-color: white;
    }

    #hambugger > li:first-child {
        top: 0;
        transition: 0.4s;
    }

    #hambugger > li:nth-child(2) {
        top: 1rem;
    }
    
    #hambugger > li:last-child {
        top: 2rem;
        transition: 0.4s;
    }

    #hambugger.active > li:first-child {
        transform: rotate(45deg) translate(0.9rem, 0.7rem);
    }

    #hambugger.active > li:nth-child(2) {
        display: none;
    }

    #hambugger.active > li:last-child {
        transform: rotate(-45deg) translate(0.7rem, -0.6rem);
    }

    .container {
        width: 90%;
    }

    #typeit {
        width: 90%;
        font-size: 5rem;
    }

    .myName {
        border-bottom: 0.5rem solid white;
    }
}