* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Helvetica, '맑은고딕';
    font-size: 1.5rem;
}

li {
    list-style: none;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
.headerBack {
    position: fixed;
    width: 100%;
    height: 6rem;
    transition: 0.3s ease;
    background-color: black;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    height: 6rem;
}

#logo,
.headerList>li {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    font-weight: bold;
    color: white;
}

#logo {
    margin-left: 2rem;
    font-size: 2.5rem;
    /* background-color: aqua; */
}

.headerList {
    display: flex;
    margin-right: 2rem;
    /* background-color: aqua; */
}

.headerList>li {
    margin-right: 2rem;
    /* background-color: lightgreen; */
    cursor: pointer;
}

.headerList>li:last-child {
    margin-right: 0;
}

.headerList>li:hover {
    color: lightgray;
    transition: all 0.3s ease-in-out;
}

.headerList>li::after {
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    content: '';
    margin: 0.5rem 0 0;
    width: 0;
    height: 0.4rem;
    transition: all 0.3s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: lightgray;
}

.headerList>li:hover::after {
    width: 100%;
    opacity: 1;
}

/* hambugger */
#hambugger {
    display: none;
}

/* nav */
nav {
    position: fixed;
    top: 50%;
    right: 2rem;
    z-index: 10;
    transform: translateY(-50%);
    width: fit-content;
    text-align: center;
    font-size: 1.2rem;
    /* background-color: skyblue; */
}

nav>ul {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 2rem;
    background-color: white;
}

nav>ul>li {
    padding: 2rem 3rem;
}

nav>ul>li:first-child {
    border-radius: 1rem 1rem 0 0;
}

nav>ul>li:last-child {
    border-radius: 0 0 1rem 1rem;
}

.topBtn>img,
.bottomBtn>img {
    width: 3rem;
    cursor: pointer;
}

/* main */
main {
    padding-bottom: 6rem;
    width: 100%;
    background-color: black;
}

.container {
    margin: 0 auto;
    width: 80rem;
    /* background-color: red; */
}


/* first */
.first {
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 6rem);
    background-color: black;
}

#typeit {
    width: 60rem;
    font-size: 6rem;
    text-align: center;
    font-family: 'GmarketSansMedium';
    color: white;
}

.myName {
    border-bottom: 1rem solid white;
}

.firstImg {
    position: absolute;
    bottom: 2rem;
}

.firstImg>img {
    width: 5rem;
    cursor: pointer;
}

/* title */
.title {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    /* background-color: yellow; */
}

[data-scroll] {
    transition: opacity 1.5s;
}

[data-scroll="in"] {
    opacity: 1;
}

[data-scroll="out"] {
    opacity: 0;
}

/* section */
.section {
    margin-top: 3rem;
}

.section:first-child {
    margin-top: 6rem;
}

/* sectionBox */
.sectionBox {
    padding: 2rem;
    height: 100%;
    border-radius: 2rem;
    background-color: white;
}



/* about */
.about {
    width: 100%;
}

.about>.sectionBox>.inner {
    display: flex;
    gap: 2rem;
}

.aboutTxt {
    width: calc(50% - 1rem);
}

.contactUl {
    padding: 2rem;
    width: calc(50% - 1rem);
    font-size: 1.3rem;
    border-radius: 2rem;
    box-shadow: 0 0 0.5rem 0.1rem lightgray;
}

.contactUl>li {
    margin-bottom: 1rem;
}

.contactUl>li:last-child {
    margin-bottom: 0;
}

.contactUl>li>i {
    margin-right: 1rem;
}

/* skills */
.skills {
    width: 100%;
}

.skillsDiv {
    margin-bottom: 2rem;
    /* background-color: yellow; */
}

.skillsDiv:last-child {
    margin-bottom: 0;
}



.skillsBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    height: 10rem;
    color: gray;
    /* background-color: lightpink; */
}

.skillsBar>img {
    width: 5rem;
    transition: 0.3s;
}

.skillsBar>img:hover {
    width: 5.5rem;
}

.skillsBar>p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.txtper {
    display: flex;
    gap: 1rem;
}

.skillsTxt {
    width: 100%;
    /* height: 100%; */
    border-radius: 1rem;
    background-color: #f5f5f5;
}

.skillsTxt:last-child {
    margin-bottom: 0;
}

.skillsColor {
    width: 0;
    height: 100%;
    background-color: gray;
}

.skillsTxt,
.skillsColor {
    border-radius: 1rem;
}

.skillsPer {
    font-size: 1.3rem;
    color: gray;
}

/* project */
.project {
    width: 100%;
}

.prjPage {
    margin-bottom: 2rem;
}

.prjPage:last-child {
    margin-bottom: 0;
}

.prjTitle {
    margin: 0 auto;
    padding: 1rem 2rem;
    width: fit-content;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-radius: 3rem;
    background-color: black;
    cursor: pointer;
}

.prjTitle>a {
    text-decoration: none;
    color: white;
}

.prjTitle:hover {
    background-color: lightgray;
}

.prjUl {
    margin-top: 1rem;
    padding: 2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
}

.prjUl>li {
    line-height: 3rem;
}

.prjUl>li:last-child {
    margin-bottom: 0;
}

.prjUl>li>span {
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.prjUl>li:nth-child(2)>a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.prjUl>li:nth-child(2)>a:hover {
    transition: all 0.3s ease-in-out;
}

.prjUl>li:nth-child(2)>a::after {
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    content: '';
    margin: 0.5rem 0 0;
    width: 0;
    height: 0.5rem;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: black;
}

.prjUl>li:nth-child(2)>a:hover::after {
    width: 100%;
    opacity: 1;
}

.prjUl>li:last-child {
    margin: 2rem 0 0.5rem 0;
}

.prjUl>li:last-child>a {
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    border: 0.1rem solid black;
    cursor: pointer;
}

.prjUl>li:last-child>a:hover {
    transition: 0.3s ease;
    color: white;
    background-color: black;
}

.jsSpan {
    background-color: #F0DB4F;
}

.phpSpan {
    color: #484C89;
    background-color: #AEB2D5;
}


/* inner */
.inner {
    margin: 1rem 0;
    padding: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0 0 0.5rem 0.1rem lightgray;
}

.innerImg {
    /* position: relative; */
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.innerImg > img {
    transition: 0.3s;
    top: 0;
    width: 100%;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: black;
}

footer>div {
    font-size: 1.2rem;
    color: white;
}

footer>div:last-child {
    margin-top: 1rem;
}

footer>div>a>img {
    width: 3rem;
}

#mobileTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 0.5rem 0.1rem lightgray;
    cursor: pointer;
}

@media (max-width: 60rem) {
    .container {
        width: 60rem;
    }

    #typeit {
        width: 50rem;
        font-size: 5rem;
    }
}


@media (max-width: 40rem) {

    #logo {
        font-size: 2rem;
    }

    header {
        z-index: 100;
    }

    .headerList {
        position: absolute;
        top: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        width: 100%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        background-color: black;
    }

    .headerList>li {
        top: auto;
        transform: none;
        margin-right: 0;
        padding: 2rem;
        height: fit-content;
    }

    .headerList>li::after {
        position: relative;
        left: 0;
        bottom: 0;
        content: '';
        margin: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }

    .headerList>li:hover::after {
        width: 0;
        opacity: 0;
    }

    #hambugger {
        position: absolute;
        top: 50%;
        right: 2rem;
        display: block;
        transform: translateY(-50%);
        width: 3rem;
        height: 2.5rem;
        cursor: pointer;
    }

    #hambugger>li {
        position: absolute;
        width: 100%;
        height: 0.5rem;
        background-color: white;
    }

    #hambugger>li:first-child {
        top: 0;
        transition: 0.4s;
    }

    #hambugger>li:nth-child(2) {
        top: 1rem;
    }

    #hambugger>li:last-child {
        top: 2rem;
        transition: 0.4s;
    }

    #hambugger.active>li:first-child {
        transform: rotate(45deg) translate(0.9rem, 0.7rem);
    }

    #hambugger.active>li:nth-child(2) {
        display: none;
    }

    #hambugger.active>li:last-child {
        transform: rotate(-45deg) translate(0.7rem, -0.6rem);
    }

    nav {
        display: none;
    }

    .container {
        width: 100%;
    }

    .sectionBox {
        padding: 2rem;
        background-color: black;
    }

    .title {
        color: white;
    }

    .inner {
        box-shadow: none;
    }

    #typeit {
        width: 85%;
        font-size: 4.5rem;
    }

    .myName {
        border-bottom: 0.5rem solid white;
    }

    #mobileTop {
        display: block;
    }

    .about>.sectionBox>.inner {
        display: block;
    }

    .aboutTxt {
        width: 100%;
    }

    .contactUl {
        margin-top: 2rem;
        width: 100%;
    }
}