@media (max-width: 65rem) {
    #cover {
        position: relative;
    }

    #fix {
        position: absolute;
        top: 55rem;
        left: 50%;
        transform: translate(-50%, -50%);
        float: none;
        width: 80%;
        height: 60rem;
    }

    #container {
        float: none;
        width: 100%;
    }

    header {
        position: relative;
        z-index: 1;
        height: 95rem;
        text-align: center;
    }

    header > div {
        position: relative;
        bottom: 35%;
    }

    header > button {
        position: relative;
        top: 35%;
    }
}

@media (max-width: 40rem) {

    header > div:first-child {
        font-size: 5rem;
    }

    header > div:nth-child(2) {
        font-size: 1.7rem;
    }


    #portfolio > div {
        display: flex;
        flex-direction: column;
    }

    #portfolio > div > ul {
        width: 100%;
    }

    #box {
        height: 45rem;
    }

    #box > ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .pr-wrap {
        display: flex;
        flex-direction: column;
    }
}